@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #97ce4c; */

body {
    background-color: #292c34;
    background-image: url('../imgs/pickle-rick.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 650px 900px;
    background-position-y: 400px;
}

/* .container {
    max-width: 600px;
    min-width: 700px;
    min-height: 700px;
    background-image: url('../imgs/camo.jpg');
    box-shadow: 2px 2px 2px;
    margin: 0 auto;
    box-shadow: 18px 2px 28px -2px rgba(15, 14, 15, 1);
} */

.header {
    text-align: center;
    position: relative;
}

.header h1 {
    /* margin: 50px; */
    font-family: 'Fredoka One', cursive;
    font-size: 60px;
    color: white;
    display: inline;
    /* font-family: cursive; */
}

.lifes {
    font-family: cursive, sans-serif;
    color: white;
    position: absolute;
    right: 30px;
    top: 40px;
}

.life {
    font-size: 50px;
}

.timer {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 40px;
    color: red;
    font-family: cursive, sans-serif;
    font-weight: bold;
}

.board td {
    width: 75px;
    height: 76px;
    text-align: center;
    padding: 5px;
    font-family: cursive;
    font-size: 25px;
    cursor: pointer;
    border: 1px solid white;
    transition: all 0.5s ease;
}

/* .board td:not(.show):hover {
    background-color: #444;
} */

/* .board td:hover {} */

table.board-table {
    margin: 5px auto;
    background: black;
}

/*show class*/

.show {
    background: white;
    color: black;
    transition: all 0.5s ease;
}

/*show class only in hint-mode*/

.hint-show {
    background: white;
    color: black;
}

/*hit mine class*/

.hit-mine {
    background: red;
}

.bubble {
    background-color: #f8f8f8;
    border: 1px solid #c8c8c8;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    padding: 60px;
    position: absolute;
    right: 250px;
    top: 390px;
    animation: fade 0.5s ease;
    transition: all 0.5 ease;
    display: none;
    color: black;
    animation: revealBubble 1s ease;
}

.bubble-span {
    font-size: 20px;
    font-family: cursive;
    text-align: center;
}

.bubble button {
    margin: 10px;
    color: white;
    background: black;
    outline: 0;
    border: 0;
    border-radius: 15px;
    padding: 1rem 2rem;
    cursor: pointer;
}

/*level modal*/

.level-modal {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

.level-buttons h3 {
    font-size: 30px;
}

.level-buttons {
    display: inline;
    border-radius: 15px;
}

.level-modal button {
    margin: 10px;
    padding: 1rem 1.5rem;
    font-size: 20px;
    color: white;
    outline: 0;
    border: 0;
    border-radius: 10px;
    color: white;
    font-family: cursive;
    cursor: pointer;
}

.level-modal button.level-modal button:hover, .leaderboard-btn:hover, .change-user:hover {
    opacity: 0.8;
    transform: scale(1.1);
    transition: all 0.5s ease;
}

/*color of mode buttons*/

.beginner {
    background-color: #8601af;
}

.medium {
    background-color: #e5e500;
}

.expert {
    background-color: #37C551;
}

/*style for flag*/

.portal-gun {
    width: 70px;
    height: 70px;
}

.gun {
    width: 55px;
    height: 55px;
}

/*smiley style*/

.smile-img {
    width: 100px;
    height: 100px;
    transition: all 0.5s ease;
}

.smile-img:hover {
    transform: rotateZ(360deg) scale(1.1);
    cursor: pointer;
}

/*hints style*/

.hints {
    position: absolute;
    top: 300px;
    left: 40px
}

.hint {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.hints p {
    color: white;
    font-size: 12px;
    font-family: cursive, sans-serif;
}

.hint-effect {
    transform: scale(1.4);
    transition: transform 0.5s ease-in;
}

/*safe click style*/

.safe {
    position: absolute;
    left: 200px;
    top: 700px;
    text-align: center;
    display: none;
}

.safe-rick {
    width: 50px;
    height: 50px;
}

.click-left {
    color: white;
    font-weight: bold;
    font-family: cursive;
}

.safe-click {
    border: 0;
    outline: 0;
    font-size: 20px;
    background: black;
    color: white;
    border-radius: 10px;
    padding: 1rem 1rem;
    text-align: center;
    cursor: pointer;
}

.safe-click:hover {
    opacity: 0.9;
}

/*manual div style*/

.manual-mode .manual-btn {
    border: 0;
    outline: 0;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
}

.undo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 20px;
    border: 0;
    outline: 0;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    margin-top: 5px;
    animation: vibrate-1 0.3s linear infinite both;
    background: crimson;
}

.rick {
    width: 100px;
    height: 100px;
}

.axe {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.axe-click-effect {
    transform: scale(1.3);
    transition: transform 0.5s ease-in;
}

/*add nice effect*/

.feature-click-effect {
    transform: scale(1.4);
    transition: transform 0.5s ease-in;
}

/*alerts*/

.alert-danger {
    padding: 12px;
    width: 200px;
    background-color: #f44336;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: cursive, sans-serif;
    margin-bottom: 10px;
    display: none;
    position: absolute;
    right: 250px;
    top: 390px;
    /* display: none; */
}

.alert-success {
    padding: 12px;
    width: 200px;
    background-color: darkgreen;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: cursive, sans-serif;
    margin-bottom: 10px;
    display: none;
    position: absolute;
    right: 250px;
    top: 390px;
}

/*score modal*/

.score-modal {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}

.score-popup {
    background: white;
    padding: 8rem;
    border-radius: 10px;
    text-align: center;
    position: relative;
    font-family: cursive;
    margin: 10px;
    animation: fade 0.5s ease-in;
}

.score-popup span {
    font-size: 15px;
}

.score-modal h3 {
    font-size: 50px;
    font-family: monospace;
    margin-bottom: 15px;
}

.score-modal button {
    position: absolute;
    top: 0;
    right: 0;
    outline: 0;
    border: 0;
    padding: 0.4rem;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 20px;
    color: white;
    background: black;
    font-size: 20px;
    cursor: pointer;
}

table.score-table {
    border-collapse: collapse;
    font-family: monospace;
    font-size: 20px;
    font-family: 'Fredoka One', cursive;
}

table.score-table td, th {
    padding: 0.5rem;
    text-align: center;
    border: 2.5px solid black;
}

table.score-table th {
    background: gray;
    color: black;
}

table.score-table td {
    padding: 12px 15px;
}

table.score-table tr {
    border-bottom: 1px solid #dddd;
}

.td1-mode {
    background: #8601af;
    ;
    color: white;
}

.td2-mode {
    background: #e5e500;
    color: white;
}

.td3-mode {
    background: #37C551;
    color: white;
}

.leaderboard-btn {
    position: absolute;
    left: 20px;
    bottom: 20px;
    outline: 0;
    border: 0;
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 15px;
    cursor: pointer;
    font-family: cursive;
    font-size: 20px;
    background: #aa0000;
}

.change-user {
    position: absolute;
    bottom: 100px;
    left: 20px;
    outline: 0;
    border: 0;
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 15px;
    cursor: pointer;
    font-family: cursive;
    font-size: 20px;
    background: #00578a;
}

.mine {
    width: 40px;
    height: 40px;
}

.show-bomb {
    background: red;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes revealBubble {
    from {
        transform: translateX(-200px);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

@keyframes rainbow {
    0% {
        background: #9f41a4;
    }
    10% {
        background: #ca1c1c;
    }
    20% {
        background: #3078c0;
    }
    30% {
        background: #30c03e;
    }
    40% {
        background: #704300;
    }
    50% {
        background: #5b013e;
    }
    60% {
        background: #72d5f9;
    }
    70% {
        background: #207480;
    }
    80% {
        background: #fff41a;
    }
    90% {
        background: #f60e92;
    }
    100% {
        background: #21200a;
    }
}

@keyframes vibrate-1 {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translate(-2px, 2px);
    }
    40% {
        transform: translate(-2px, -2px);
    }
    60% {
        transform: translate(2px, 2px);
    }
    80% {
        transform: translate(2px, -2px);
    }
    100% {
        transform: translate(0);
    }
}

/* 
max-width: 1900px 1900px - 1000px  */

@media (max-width:1911px) {
    body {
        background-size: 500px 800px;
        background-position-y: 550px;
    }
    .header h1 {
        font-size: 40px;
    }
    .gun {
        width: 40px;
        height: 40px;
    }
    .mine {
        width: 35px;
        height: 35px;
    }
    .board td {
        width: 55px;
        height: 55px;
        font-size: 16px;
    }
    .bubble {
        width: 250px;
        font-size: 10px;
        right: 200px;
        top: 500px;
    }
    .hint {
        width: 90px;
        height: 90;
    }
    .safe {
        position: absolute;
        left: 50px;
        top: 700px;
        text-align: center;
        display: none;
    }
}

@media (max-width:1526px) {
    body {
        background-size: 350px 700px;
        background-position-y: 200px;
    }
    .header h1 {
        font-size: 25px;
    }
    .gun {
        width: 40px;
        height: 40px;
    }
    .mine {
        width: 25px;
        height: 25px;
    }
    .board td {
        width: 42px;
        height: 42px;
        font-size: 16px;
    }
    .bubble {
        width: 220px;
        height: 100px;
        font-size: 10px;
        right: 135px;
        top: 200px;
    }
    .bubble-span {
        font-size: 15px;
        padding: 0;
        text-align: center;
    }
    .hint {
        width: 90px;
        height: 90;
    }
    .safe {
        position: absolute;
        left: 50px;
        top: 700px;
        text-align: center;
        display: none;
    }
    .smile-img {
        width: 45px;
        height: 45px;
    }
    .level-modal button {
        font-size: 15px;
        padding: 0.5rem 1rem;
    }
    .axe {
        width: 30px;
        height: 30px;
    }
    .manual-mode .manual-btn {
        font-size: 12px;
        padding: 0.5rem 0.5rem;
    }
    .undo {
        font-size: 14px;
        padding: 0.5rem 1rem;
    }
    .score-popup {
        padding: 4rem;
    }
    .leaderboard-btn {
        font-size: 14px;
    }
    .change-user {
        bottom: 80px;
        font-size: 14px;
    }
    .hints {
        top: 150px;
    }
    .hint {
        width: 70px;
        height: 70px;
    }
    .safe {
        top: 300px;
    }
    .safe-click {
        font-size: 15px;
    }
    .safe-rick {
        width: 40px;
        height: 40px;
    }
    .mine {
        width: 20px;
        height: 20px;
    }
    .gun {
        width: 25px;
        height: 25px;
    }
    .lifes {
        font-size: 15px;
    }
    .timer {
        position: absolute;
        font-size: 30px;
    }
    .manual-mode {
        display: inline;
    }
}

/* .box {
    width: 100px;
    height: 100px;
    background: crimson;
    transition: 1s cubic-bezier(0, .97, .96, .03);
}

.cool {
    transform: translateX(400px)
} */

/* .vibrate-btn {
    padding: 0.5rem 1rem;
    outline: 0;
    border: 0;
    background: crimson;
    animation: vibrate-1 0.3s linear infinite both;
} */